footer {
  padding: 20px 0;
  text-align: center;
  color: var(--text-primary);
}

footer .social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 769px) {
  footer .social-links {
    flex-direction: row;
    justify-content: center;
  }

  footer .social-links a {
    margin: 0 10px;
  }
}

@media (prefers-color-scheme: dark) {
  footer .social-links a img {
    filter: invert(0.9) hue-rotate(180deg);
  }
}
